* {
  cursor: default;
  font-family: "Nova Round";
}
body {
  margin-top: 5vmax;
  margin-left: 3vmax;
  margin-right: 3vmax;
  margin-bottom: 1vmax;
  max-height: 100vh;
  max-width: 100vw;
  font-size: 1em;
  visibility: hidden;
  animation: hide 0s 1s forwards;
}
.heading {
  display: grid;
  place-content: center;
  min-width: 58vw;
  max-width: 58vh;
}
.projects {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 5vmax;
  visibility: hidden;
  animation: hide 0s 2.2s forwards;
}
.mp {
  animation: fade 1.5s linear;
}
.mp {
  animation-delay: 2.2s;
}
.w3-animate-top,
.w3-animate-bottom,
.w3-animate-left,
.w3-animate-right {
  animation-delay: 1s;
}
.name {
  animation-duration: 0.8s;
}
.comp {
  animation-duration: 1.5s;
}
.soft {
  animation-duration: 1.7s;
}
.appl {
  animation-duration: 1.8s;
}
a {
  font-size: 1.8vh;
  text-decoration: none;
  cursor: pointer;
}
.buttons {
  visibility: hidden;
  animation: hide 0s 2.4s forwards;
}
.btn {
  animation-delay: 2.4s;
  animation-duration: 1.5s;
}
.footer {
  margin-top: -3vh;
}
.blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  to {
    visibility: visible;
  }
}
@media screen and (prefers-color-scheme: dark) {
  :root,
  body,
  .btn,
  .card,
  .card-body {
    background: #2c2c2c;
    color: #dadada;
  }
}
