* {
  transition: 0.3s;
}
body {
  background: linear-gradient(to right, #e28ecb, #d2e28e);
  font-family: "Merienda", cursive;
  font-variant: small-caps;
  margin: 3%;
  font-size: 2vh;
}

#k {
  text-decoration: none;
  color: currentColor;
}
img.k {
  float: right;
  width: 20vmax;
  margin-right: 0.3em;
  margin-left: 3vmax;
  border-radius: 1em;
  opacity: 0.8;
  transition: 0.3s;
}
img.k:hover {
  width: 22vmax;
  margin-left: 1vmax;
  transition: 0.5s;
}
img.kp {
  width: 18em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  opacity: 0.5;
}

img.kp:hover {
  cursor: help;
}

h1.c {
  font-variant: small-caps;
  font-size: 2.2em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1.7em;
}
h3 {
  font-size: 1.5em;
  font-weight: 700;
}

p.p1 {
  font-size: 1.1em;
  font-variant: normal;
  text-align: justify;
  text-indent: 3em;
  width: 100%;
  margin-bottom: 1.8em;
}

p.p2 {
  font-size: 1.1em;
  font-variant: normal;
  text-align: justify;
  text-indent: 3em;
  width: 100%;
  margin-bottom: 10vmin;
}

div.div2 {
  float: left;
  font-size: 1.1em;
}
div.div3 {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.1em;
}

form {
  float: right;
}

form table,
tr,
th,
td,
#butt {
  font-family: "Merienda", cursive;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 1em;
}

form table th {
  font-size: 1.2em;
  line-height: 2em;
}

form {
  text-align: right;
}
form input {
  border: none;
  border-radius: 0.5em;
  height: 2em;
  padding-left: 0.5em;
  opacity: 0.8;
  background: #c0c1b0;
  outline: none;
  vertical-align: middle;
}

form table input.radio {
  width: 1.5em;
}

form table input.radio:hover {
  cursor: pointer;
}

form table input#check {
  width: 1.25em;
}

form table input#check:hover {
  cursor: pointer;
}

form table span.term_butt {
  font-variant: normal;
  font-size: 0.8em;
}

form#butt {
  margin-top: 0.3em;
  margin-left: 14em;
  height: 1.9em;
  width: 5.5em;
  border-width: 0.1em;
  border-radius: 0.8em;
  background: #c0c1b0;
}

form#butt:hover {
  cursor: pointer;
  background: #99a079;
}

input#check:checked + span input#butt {
  visibility: visible;
  opacity: 0.8;
  transition: all 0.5s;
}
input#butt {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.gender {
  text-align: left;
}
div.footer {
  bottom: 0;
  width: 100%;
  padding-top: 3em;
}
hr {
  border: 0.07em dashed #6d99bd;
}

p.c {
  text-align: center;
  margin-top: -0.3em;
  font-size: 0.8em;
  opacity: 0.6;
}

p span.AKF:hover {
  cursor: help;
}

p span.copy {
  font-size: 1.21em;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: currentColor;
}
